<div class="px-4 text-gray-800 leading-normal">
	<div class="p-5">
		<div class="bg-white border rounded shadow">
			<div class="flex flex-wrap items-center">
				<div class="w-1/2 border-b p-3 text-lg font-bold uppercase text-gray-600">
					<%= @educ_profile.model_name.human %>
				</div>
				<div class="w-1/2 border-b p-4 text-gray-600">
					<div class="flex float-right">
						<%= link_to edit_backoffice_educ_profile_path(@educ_profile), class:"text-sm text-lime-500 hover:text-gray-500" do %>
							<i class="fas fa-user-edit fa-fw mr-1"></i>
							<span class="text-sm invisible sm:visible"><%= t('devise.shared.links.edit') %></span>
						<% end %>
						<%= link_to :back, class:"text-sm text-cyan-600 hover:text-gray-500 whitespace-nowrap" do %>
							<i class="fas fa-arrow-left fa-fw mr-1"></i><span class="text-sm invisible sm:visible"><%= t('devise.shared.links.back') %></span>
						<% end %>
					</div>
				</div>
			</div>
		
			<div class="p-5 overflow-x-auto">
				<table class="w-full text-gray-700">
					<thead>
						<tr>
							<% %w[id name email project_id ceic_id].each do |attribute| %>
								<% if @educ_profile.attributes.key?(attribute) %>
									<th class="text-blue-900 px-4 whitespace-nowrap"><%= @educ_profile.class.human_attribute_name(attribute) %>:</th>
									<td class="text-left whitespace-nowrap"><%= @educ_profile[attribute] %><td>
								<% end %>
							<% end %>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
		</div>
		<div class="bg-white border rounded shadow">
			<div class="w-full border-b p-3 text-lg font-bold uppercase text-gray-600">
				<%= @classrooms.first.model_name.human(count: 2) %>
			</div>

			<div class="p-5">
				<div class="overflow-x-auto">
					<div class="table w-full text-gray-700">
						<div class="table-header-group">
							<div class="table-row font-bold text-blue-900">
								<% %w[id schedule project_id ceic_id active].each do |attribute| %>
									<% if @classrooms.first.attributes.key?(attribute) %>
										<div class="table-cell px-4 whitespace-nowrap"><%= i18n_attributes(@classrooms, attribute) %></div>
									<% end %>
								<% end %>
							</div>
						</div>
						<% @classrooms.each do |classroom| %>
							<div class="table-row-group">
								<a href=<%= backoffice_classroom_path(classroom)%> class="table-row hover:bg-gray-100">
									<div class="table-cell px-4 py-2"><%= classroom.id %></div>
									<div class="table-cell px-4 py-2"><%= classroom.schedule.strftime('%H:%M') %></div>
									<div class="table-cell px-4 py-2 whitespace-nowrap"><%= classroom.project.name %></div>
									<div class="table-cell px-4 py-2 whitespace-nowrap"><%= classroom.ceic.slug %></div>
									<div class="table-cell px-4 py-2"><%= classroom.active %></div>
								</a>
							</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<footer class="bg-white border-t border-gray-400 shadow">
	<div class="container max-w-md mx-auto flex py-8">
		<div class="w-full mx-auto flex flex-wrap">
			<div class="flex w-full md:w-1/2 ">
				<div class="px-8">
					<h3 class="font-bold text-gray-900">About</h3>
					<p class="py-4 text-gray-600 text-sm">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel mi ut felis tempus commodo nec id erat. Suspendisse consectetur dapibus velit ut lacinia.
					</p>
				</div>
			</div>
			<div class="flex w-full md:w-1/2">
				<div class="px-8">
					<h3 class="font-bold text-gray-900">Social</h3>
					<ul class="list-reset items-center text-sm pt-3">
						<li>
							<a class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:underline py-1" href="#">Add social link</a>
						</li>
						<li>
							<a class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:underline py-1" href="#">Add social link</a>
						</li>
						<li>
							<a class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:underline py-1" href="#">Add social link</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>		

<!--/container-->
<footer class="bg-white border-t border-gray-400 shadow">
	<div class="container max-w-md mx-auto flex py-8">
		<div class="w-full mx-auto flex flex-wrap">
			<div class="flex w-full md:w-1/2 ">
				<div class="px-8">
					<h3 class="font-bold text-gray-900">About</h3>
					<p class="py-4 text-gray-600 text-sm">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel mi ut felis tempus commodo nec id erat. Suspendisse consectetur dapibus velit ut lacinia.
					</p>
				</div>
			</div>
			<div class="flex w-full md:w-1/2">
				<div class="px-8">
					<h3 class="font-bold text-gray-900">Social</h3>
					<ul class="list-reset items-center text-sm pt-3">
						<li>
							<a class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:underline py-1" href="#">Add social link</a>
						</li>
						<li>
							<a class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:underline py-1" href="#">Add social link</a>
						</li>
						<li>
							<a class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:underline py-1" href="#">Add social link</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>


