<div class="text-2xl text-center text-gray-900 font-bold"><%= t('devise.shared.links.edit') %> <%= @enrollment.model_name.human %></div>
<%= form_with model: [:backoffice, @enrollment], html: { class:"max-w-5xl mx-auto bg-gray-50 shadow-lg rounded-md p-8 my-4" } do |f| %>
	<div class="grid grid-cols-1 sm:grid-cols-3 gap-4 whitespace-nowrap">
		<div>
			<%= f.label :id, class:"p-2 block text-sm font-medium text-gray-700"%>
			<%= f.text_field :id, readonly: true, class:"w-1/2 sm:w-1/3 rounded-md px-4 py-1.5 text-gray-900 shadow-md ring-2 ring-gray-300" %>
		</div>
		<div>
			<%= f.label :created_at, class:"p-2 block text-sm font-medium text-gray-700" %>
			<%= f.text_field :created_at, readonly: true, value: l(@enrollment.created_at.to_date), class:"w-1/2 rounded-md px-4 py-1.5 text-gray-900 shadow-md ring-2 ring-gray-300" %>
		</div>
		<div>
			<%= f.label :canceled, class:"p-2 block text-sm font-medium text-gray-700" %>
			<%= f.collection_select :canceled, [['true', t('activerecord.attributes.boolean.true')], ['false', t('activerecord.attributes.boolean.false')]], :first, :last, { selected: @enrollment.canceled }, class:"w-1/2 sm:w-1/3 rounded-md px-4 py-1.5 text-gray-900 shadow-md ring-2 ring-gray-300" %>
		</div>	
		<div>	
			<%= f.label :project_id, class:"p-2 block text-sm font-medium text-gray-700" %>
			<%= f.text_field :project_id, readonly: true, value: @enrollment.project.name, class:"w-full rounded-md px-4 py-1.5 text-gray-900 shadow-md ring-2 ring-gray-300" %>
		</div>
		<div>
			<%= f.label :ceic_id, class:"p-2 block text-sm font-medium text-gray-700" %>
			<%= f.collection_select :ceic_id, Ceic.all, :id, :slug, { selected: @enrollment.ceic}, class:"w-1/2 rounded-md px-4 py-1.5 text-gray-900 shadow-md ring-2 ring-gray-300" %>
		</div>
		<div>
			<%= f.fields_for :classroom do |room| %>
				<%= room.label :schedule, class:"p-2 block text-sm font-medium text-gray-700" %>
				<%= room.collection_select :schedule, Classroom.all, :id, ->(room) {room.schedule.strftime('%H:%M')}, { selected: @enrollment.classroom.schedule}, class:"w-1/2 sm:w-1/3 rounded-md px-4 py-1.5 text-gray-900 shadow-md ring-2 ring-gray-300" %>
			<% end %>
		</div>
	</div>
	<%= f.submit t('devise.shared.links.update'), class:"mt-4 bg-lime-500 hover:bg-lime-200 hover:text-gray-700 border border-1 rounded-lg py-2 px-4 text-sm text-white uppercase font-bold" %>
	<%= link_to t('devise.shared.links.back'), :back, class:"mt-4 bg-cyan-600	hover:bg-cyan-200 hover:text-gray-700 border border-1 rounded-lg py-2 px-4 text-sm text-white uppercase font-bold" %>
<% end %>
