
<div class="px-4 md:mt-8 mb-16 text-gray-800">
	<div class="p-5">
		<div class="bg-white border rounded shadow">
			<div class="flex flex-wrap">
				<div class="w-1/2 border-b p-3 text-lg font-bold uppercase text-gray-600">
					<%= @users.model_name.human(count: 2) %>
				</div>
				<div class="w-1/2 border-b p-3 text-lg font-bold text-gray-600">
					<div class="text-sm float-right">
						<%= link_to new_backoffice_user_profile_path, class:"text-cyan-600 hover:text-gray-500" do %>
							<i class="fas fa-user-plus mr-1"></i><span class="text-sm"><%= t('devise.registrations.new.sign_up', resource: @users.model_name.human) %></span>
						<% end %>
					</div>
				</div>
				<div class="w-full border-b p-3 font-bold text-gray-600">
					<%= turbo_frame_tag "form" do %>
						<%= form_tag backoffice_user_profiles_path, method: :get, data: { turbo_frame: "search-results", controller: "search", turbo_action: "advance", action: "input->search#submit" } do %>
							<%= check_box_tag :active, "1", false, class:"p-2 rounded-sm" %>
							<%= label_tag :active, "Ativos", class:"pr-4" %>
							<%= check_box_tag :inactive, "0", false,  class:"p-2 rounded-sm" %>
							<%= label_tag :inactive, "Inativos", class:"pr-4" %>
							<%= text_field_tag :search, params[:search], class:"mt-2 sm:mt-0 rounded-lg focus:ring-indigo-500 focus:border-indigo-500 text-sm border-gray-300", placeholder: "Pesquise usuário por nome..." %>
							<%= submit_tag 'Search', class:"text-cyan-600 border border-gray-300 hover:text-gray-500 py-1 px-4 rounded-lg shadow" do %>
								<i class="fas fa-search fa-sm"></i><span class=""></span>
								<% end %>
						<% end %>
					<% end %></div>
				</div>
			</div>
			<%= turbo_frame_tag "search-results" do %>
				<div class="p-5">
					<div class="overflow-x-auto">
						<div class="table w-full text-gray-700">
							<div class="table-header-group">
								<div class="table-row font-bold text-left text-blue-900">
									<% %w[id first_name active created_at].each do |attribute| %>
										<% if @users.first.attributes.key?(attribute) %>
											<div class="table-cell px-4"><%= i18n_attributes(@users, attribute) %></div>
										<% end %>
									<% end %>
								</div>
							</div>
							<div class="table-row-group">
								<% @users.each do |user| %>
									<%= link_to backoffice_user_profile_path(user), data: { turbo_frame: "_top" }, class:"table-row hover:bg-gray-100" do %>
										<div class="table-cell px-4 py-2"><%= user.id %></div>
										<div class="table-cell px-4 py-2 whitespace-nowrap"><%= user.full_name%></div>
										<div class="table-cell px-4 py-2"><%= t('activerecord.attributes.user_profile.activated', status: user.active ? t('activerecord.attributes.boolean.true') : t('activerecord.attributes.boolean.false'))%></div>
										<div class="table-cell px-4 py-2"><%= l(user.created_at.to_date) %></div>
									<% end %>
								<% end %>
							</div>
						</div>
				</div>
			<% end %>
		</div>
	</div>
</div>
<%= paginate @users %>
<footer class="bg-white border-t border-gray-400 shadow">
	<div class="container max-w-md mx-auto flex py-8">
		<div class="w-full mx-auto flex flex-wrap">
			<div class="flex w-full md:w-1/2 ">
				<div class="px-8">
					<h3 class="font-bold text-gray-900">About</h3>
					<p class="py-4 text-gray-600 text-sm">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel mi ut felis tempus commodo nec id erat. Suspendisse consectetur dapibus velit ut lacinia.
					</p>
				</div>
			</div>
			<div class="flex w-full md:w-1/2">
				<div class="px-8">
					<h3 class="font-bold text-gray-900">Social</h3>
					<ul class="list-reset items-center text-sm pt-3">
						<li>
							<a class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:underline py-1" href="#">Add social link</a>
						</li>
						<li>
							<a class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:underline py-1" href="#">Add social link</a>
						</li>
						<li>
							<a class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:underline py-1" href="#">Add social link</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
