<!DOCTYPE html>
<html>
  <head>
    <title>Cl-App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <main class="mt-14 bg-cover bg-no-repeat bg-[url('bgtop.jpg')]">
	  	<%= image_tag("logo.png", class:"w-72 mx-auto sm:w-auto sm:h-auto") %>
      <%= render partial: "shared/flash" %>
			<%= yield %>
    </main>
  </body>
</html>
